<div class='challenges-item text-center'>
    <span class="item-title d-block">{{challengeItemSingle?.challenge_name}}</span>
    <div class="img-wrap">
        <img [src]="challengeItemSingle?.background" alt="">
        <div>
            <div  class="item-overlay d-flex flex-column pos-absolute ng-star-inserted">
                <div *ngIf='visibleUpcomingOverlay'  class="item-info d-flex justify-content-between flex-shrink-0 text-uppercase">
                    <div class="awards d-flex flex-column justify-content-end">
                        <span class="count">{{countAwards | awards}}</span>
                        <span class="desc text-overflow-ellipsis">Awards worth</span>
                    </div>
                    <div _ngcontent-c16="" class="votes d-flex flex-column justify-content-end">
                        <i  class="fa-icon far fa-clock"></i>
                        <span  class="desc text-overflow-ellipsis">Coming soon</span>
                    </div>
                </div>
                <div *ngIf='visibleOpenOverlay' class="item-overlay d-flex flex-column pos-absolute ng-star-inserted">
                    <div class="item-button d-flex justify-content-center align-items-center overflow-hidden transition">
                        <button class="btn btn-transparent btn-sm ng-star-inserted">
                            <span  class="btn-wrapper"><span>Join challenge</span></span>
                        </button>
                    </div>
                    <div class="item-info d-flex flex-shrink-0 text-uppercase">
                        <div  class="awards d-flex flex-column justify-content-end">
                            <span class="count">{{countAwards | awards}}</span>
                            <span  class="desc text-overflow-ellipsis">Awards worth</span>
                        </div>
                        <div class="days borders d-flex flex-column justify-content-end">
                            <span  class="count ng-star-inserted" style="font-size: 20px;">
                                <p *appCountdown="endDate"></p><!--app-countdown-->
                            </span>
                            <span  class="desc text-overflow-ellipsis">Days left</span>
                        </div>
                        <div  class="votes d-flex flex-column justify-content-end">
                            <span  class="count ng-star-inserted">{{countVotes | countVotes}}</span>
                            <span  class="desc text-overflow-ellipsis ng-star-inserted">Votes</span>
                        </div>
                    </div>
                </div>
                <div *ngIf='visibleClosedOverlay' class="item-overlay d-flex flex-column pos-absolute ng-star-inserted">
                    <div class="item-info d-flex flex-shrink-0 text-uppercase">
                        <div  class="awards d-flex flex-column justify-content-end">
                            <span class="count">{{countAwards | awards}}</span>
                            <span  class="desc text-overflow-ellipsis">Awards worth</span>
                        </div>
                        <div class="days borders d-flex flex-column justify-content-end">
                            <span class="desc text-overflow-ellipsis">FEB 28, 2019</span>
                        </div>
                        <div  class="votes d-flex flex-column justify-content-end">
                            <span  class="count ng-star-inserted">{{countVotes | countVotes}}</span>
                            <span  class="desc text-overflow-ellipsis ng-star-inserted">Votes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

           