<div class="images-wrap">
    <div class="container">
        <div class="row mt-5rem">
            <div class="col-4 col" *ngIf='idProfile==idActive'>
                <div (click)='uploadPhotosModalOpened = true'class="img-wrap upload-photo-btn d-flex flex-column justify-content-center align-items-center"><!--data-img-id="${_id}"-->
                    <div class="upload-photo-img"></div>
                    <span class="text-color-light">Upload photos</span>
                </div>
            </div>
            <div class="col-4 col" *ngFor='let img of images'>
                <div class="img-wrap" (click)='onClickPhotos(img._id)'>
                    <img [src]="img.url" alt=""> 
                    <div class="on-hover d-flex flex-column justify-content-between">
                        <div class="remove-wrap d-flex">
                            <i class="fas fa-trash-alt ml-auto trash"></i>
                        </div>
                        <div class="img-info d-flex align-items-center">
                            <span class="views-count d-flex align-items-center">
                                <i class="fas fa-eye"></i>
                            </span>
                            <span class="likes-count d-flex align-items-center ml-5">
                                <i class="fas fa-thumbs-up"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-upload-photos 
    *ngIf="uploadPhotosModalOpened" 
    (onClose)="uploadPhotosModalOpened = false"
    (onUploadEnd)="uploadPhotosModalOpened= false; getImages()"
    ></app-upload-photos>
<app-view-photo-modal 
    *ngIf="viewPhotosModalOpened" 
    [idImageSingle]='idImages' 
    (onClose)="viewPhotosModalOpened = false">
</app-view-photo-modal>